$bg: #30323f
$fg: #dfd1bb
$hl: #dd8a46

*
  box-sizing: border-box

body
  background-color: $bg
  color: $fg
  font-family: "Lato", sans-serif
  line-height: 1.5em
  margin: 0 auto
  text-align: center
  max-width: 95vw

a
  color: $hl

a:hover
  color: darken($hl, 8%)

section
  @media (min-width: 768px)
    width: 35vw
    margin: 0 auto


  padding-top: 1vh
  padding-bottom: 1vh

#brand
  display: flex
  justify-content: center

  *
    padding-left: 0.4vw
    padding-right: 0.4vw

  a
    display: flex 
    text-decoration: none

  h1
    color: $fg
    font-weight: 400
    font-size: 3.25rem

  img
    margin-top: 2.2vh
    height: 4.75rem

  img:hover
    filter: drop-shadow(6px 6px 10px rgba(0,0,0,0.2));

.wrapper
  @media (max-width: 768px)
    width: 95vw
    margin: 0 auto

  height: 30vh
  overflow: hidden
  position: relative

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 1px solid $hl

footer
  font-size: 0.75rem
