* {
  box-sizing: border-box; }

body {
  background-color: #30323f;
  color: #dfd1bb;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  text-align: center;
  max-width: 95vw; }

a {
  color: #dd8a46; }

a:hover {
  color: #d37527; }

section {
  padding-top: 1vh;
  padding-bottom: 1vh; }
  @media (min-width: 768px) {
    section {
      width: 35vw;
      margin: 0 auto; } }
#brand {
  display: flex;
  justify-content: center; }
  #brand * {
    padding-left: 0.4vw;
    padding-right: 0.4vw; }
  #brand a {
    display: flex;
    text-decoration: none; }
  #brand h1 {
    color: #dfd1bb;
    font-weight: 400;
    font-size: 3.25rem; }
  #brand img {
    margin-top: 2.2vh;
    height: 4.75rem; }
  #brand img:hover {
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.2)); }

.wrapper {
  height: 30vh;
  overflow: hidden;
  position: relative; }
  @media (max-width: 768px) {
    .wrapper {
      width: 95vw;
      margin: 0 auto; } }
  .wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #dd8a46; }

footer {
  font-size: 0.75rem; }
