.quaternion {
    --bg: #30323f;
    --fg: #dfd1bb;

    --sidebar-bg: #21222c;
    --sidebar-fg: #dfd1bb;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #dd8a46;
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: #dd8a46;

    --inline-code-color: #ffb454;

    --theme-popup-bg: #21222c;
    --theme-popup-border: #5c6773;
    --theme-hover: #191f26;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);

    --table-border-color: hsl(210, 25%, 13%);
    --table-header-bg: var(--sidebar-bg);
    --table-alternate-bg: hsl(210, 25%, 11%);

    --searchbar-border-color: #848484;
    --searchbar-bg: #21222c;
    --searchbar-fg: #dfd1bb;
    --searchbar-shadow-color: #dfd1bb;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #e3b171;
}
